.App {
  text-align: center;
}

body {
  background-color: #282c34 ;
  color: white;
}

.AppContent {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.MuiSelect-select{
  min-width: 150px !important;
}

.filepond--wrapper {
  width: 400px;
}

.boxLocationMarker {
  height: 3vmin;
}

.AppFooterText{
  background-color:black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5vmin;
  text-align: center;
}

.EasterEggText:hover .tooltiptext{  
  visibility: visible;
}

.EasterEggText {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white; /* If you want dots under the hoverable text */
  text-align: center;

}

.EasterEggText .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: yellow;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.HomePage {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Add an active class to highlight the current page */
.topnav .nav-link a.active {
  border-bottom: solid red 1px;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}