.App {
  text-align: center;
}

.App-logo {
  height: 3vmin;
  pointer-events: none;
}

body {
  background-color: black;
  color: white;
}

.App-header, .App-footer {
  background-color: #282c34
}

.App-main {
  height: 100vh;
  display: flex;
}

.App-footer {

}
